.common-title .ant-input-outlined:focus,
.common-title .ant-input-outlined:focus-within {
  height: 46px !important;
  border: none;
  padding: 0;
  box-shadow: none;
  transition: none;
}

.common-title.ant-typography-edit-content {
  transition: none;
  margin-bottom: 0.5em;
  margin-top: 0;
  inset-inline-start: 0;
}

.common-title.ant-typography-edit-content .ant-typography-edit-content-confirm {
  display: none;
}

/* EXPENSE-TABS */

#expense-tabs.ant-tabs .ant-tabs-tab {
  border-radius: 4px;
  padding: 0px;
  color: #7e7e7e;
  transition:
    color 150ms ease-in,
    background-color 150ms ease-in;
  margin-bottom: 6px;
}

#expense-tabs.ant-tabs .ant-tabs-tab:hover {
  color: #212121;
  background-color: #ededed;
}

#expense-tabs.ant-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin: 0px 0px 6px 0px;
}

#expense-tabs.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #212121;
}

#expense-tabs.ant-tabs .ant-tabs-ink-bar {
  background-color: #212121;
}

#expense-tabs.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-more {
  padding: 6px 16px;
}

#expense-tabs.ant-tabs .ant-tabs-content-holder {
  min-width: 1200px;
}

#expense-tabs.ant-tabs .ant-tabs-tab-btn:focus-visible,
.ant-tabs .ant-tabs-tab-remove:focus-visible {
  outline: none;
}

#expense-tabs.ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible),
.ant-tabs .ant-tabs-tab-remove:focus:not(:focus-visible),
.ant-tabs .ant-tabs-tab-btn:active,
.ant-tabs .ant-tabs-tab-remove:active {
  color: inherit;
}

/* EXPENSE TABLE */

#expense-table .ant-table-container {
  border: none;
}

#expense-table .ant-table-container > .ant-table-content {
  transition: visibility 150ms ease-in;
  /* padding-bottom: 42px; */
}

#expense-table::-webkit-scrollbar {
  height: 6px;
}

#expense-table::-webkit-scrollbar-thumb {
  visibility: hidden;
}

#expense-table:active::-webkit-scrollbar-thumb,
#expense-table:focus::-webkit-scrollbar-thumb,
#expense-table:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

#expense-table
  .ant-table-container
  .ant-table-content
  > table
  > thead.ant-table-thead
  > tr
  > th.ant-table-cell {
  background-color: transparent;
  border-inline-end: none;
  padding: 4px;
}

#expense-table
  .ant-table-container
  .ant-table-content
  > table
  > thead.ant-table-thead
  > tr
  > th.ant-table-cell:first-child {
  @apply pl-8;
}

#expense-table
  .ant-table-container
  .ant-table-content
  > table
  > tbody.ant-table-tbody
  > tr
  > td.ant-table-cell {
  @apply p-0;
}

#expense-table
  .ant-table-container
  .ant-table-content
  > table
  > tbody.ant-table-tbody
  > tr
  > td.ant-table-cell:first-child {
  @apply p-0;
  border-inline-end: none;
}

#expense-table
  .ant-table-container
  .ant-table-content
  > table
  > tbody.ant-table-tbody
  > tr
  > td.ant-table-cell:last-child {
  border-inline-end: none;
  padding-right: 32px;
}

#expense-table .ant-table-wrapper .ant-table-cell {
  @apply p-0;
}

#expense-table
  .ant-table-container
  .ant-table-content
  > table
  > tbody.ant-table-tbody
  > tr
  > td.ant-table-cell
  > .editable-cell-value-wrap {
  padding: 8px;
}

#expense-table
  .ant-table-container
  .ant-table-content
  > table
  > tbody.ant-table-tbody
  > tr
  > td.ant-table-cell.ant-table-cell-row-hover {
  @apply bg-transparent;
}

#expense-table .ant-table-wrapper .ant-table-pagination.ant-pagination {
  /* margin: 16px 0px 0px 0px; */
}
#expense-table .common-title.ant-input-outlined:focus,
#expense-table .ant-input-outlined:focus-within {
  @apply !h-[40px] p-2;
  box-shadow:
    0px 4px 16px rgba(17, 17, 26, 0.2),
    0px 8px 24px rgba(17, 17, 26, 0.2),
    0px 16px 56px rgba(17, 17, 26, 0.2);
}

#expense-table .ant-form-item .ant-form-item-control-input {
  @apply min-h-[38px];
}
/* BUTTON */
.ant-btn {
  @apply !flex !items-center !text-sm;
}

.ant-btn.ant-btn-sm {
  @apply !text-sm;
}

.ant-btn-default.ant-btn-background-ghost {
  @apply !border-[rgba(55,_53,_47,_0.16)] !text-[rgba(55,_53,_47,_0.65)] hover:!bg-[rgba(55,_53,_47,_0.08)];
}

.ant-btn-primary.ant-btn-background-ghost {
  @apply !border-[rgba(35,_131,_226,_0.35)] !bg-[rgba(35,_131,_226,_0.03)] !text-[rgb(35,_131,_226)] hover:!bg-[rgba(35,_131,_226,_0.07)];
}
.ant-btn.ant-btn-text {
  @apply text-[rgb(35,_131,_226)] hover:!bg-[rgba(35,_131,_226,_0.07)];
}

.ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover {
  @apply !text-[rgb(35,_131,_226)];
}

/* INPUT */

.ant-input-affix-wrapper,
.ant-input-number-affix-wrapper {
  @apply !bg-light-gray;
}

.ant-input,
.ant-input-number {
  @apply bg-light-gray focus-within:shadow-[0_0_0_2px_rgba(5,_145,_255,_0.2)];
}

.ant-input.ant-input-sm {
  @apply !h-7 !text-sm;
}
/* .ant-input-number.ant-input-number-sm */
/* SELECT */

.ant-select-single.ant-select-lg .ant-select-selector {
  @apply !text-base;
}

.ant-select-single .ant-select-selector {
  @apply !text-sm;
}

.ant-select-dropdown .ant-select-item {
  @apply !text-sm;
}

.ant-select-single.ant-select-open .ant-select-selection-item {
  @apply !text-black;
}

[class^='ant-select'],
[class*='ant-select'] {
  font-size: inherit;
}

/* input */
[class^='ant-input-number'],
[class*=' ant-input-number'] {
  font-size: inherit;
}

.filter_popover .ant-select-single {
  @apply h-[18px];
}

.filter_popover .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  @apply rounded border-none px-1;
}

.filter_popover
  .ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  ):hover
  .ant-select-selector {
  @apply bg-light-gray;
}

.filter_popover
  .ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  @apply shadow-none;
}

.filter_popover .ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  @apply text-xs font-bold lowercase leading-[18px];
  padding-inline-end: 10px;
}

.filter_popover .ant-select .ant-select-arrow {
  @apply size-[10px] h-[14px];
  inset-inline-end: 2px;
}

.filter_popover.filter_select_popover #_input_ {
  @apply !bg-light-gray !h-[18px] !border-none !px-0.5 !leading-[18px] !shadow-none;
}
