@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: #000000;
    --white: #ffffff;

    --primary: #1b84e2;
    --blue: #1b84e2;

    --light-gray: #f7f7f5;

    --text-primary: #212121;
  }

  [data-theme='light'] {
    /*  */
  }

  [data-theme='dark'] {
    /*  */
  }

  body {
    font-family: var(--font-sans);
    background-color: var(--white);
    color: var(--black);
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .link-item {
    @apply transition-opacity hover:opacity-80;
  }

  .menu-item {
    @apply h-7 cursor-pointer rounded px-2 text-sm transition-colors hover:bg-[rgba(55,_53,_47_,0.08)];
  }
}

@layer components {
  input::placeholder {
    @apply text-gray-500;
  }

  button:disabled {
    @apply pointer-events-none cursor-not-allowed select-none shadow-none;
  }
}

/* Hide the arrow in input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.disabled\:text-white:disabled {
  -webkit-text-fill-color: #fff;
  opacity: 1; /* required on iOS */
}

button:where(:not([class^='ant'])),
[type='button']:where(:not([class^='ant'])),
[type='reset']:where(:not([class^='ant'])),
[type='submit']:where(:not([class^='ant'])) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

/* -- START_SCROLLBAR_STYLE -- */
/* Width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #646565;
  border-radius: 5px;
}
